<!DOCTYPE html>
<html ng-app="bl-spider">
<head>
    <meta charset="utf-8" />
    <title>任務管理</title>

    <link href="<?php resource('css/bootstrap.css'); ?>" rel="stylesheet">
    <link href="<?php resource('css/bootstrap-theme.css'); ?>" rel="stylesheet"/>
    <link href="<?php resource('css/ui-lightness/jquery-ui-1.10.4.custom.css'); ?>" rel="stylesheet" />
    <link href="<?php resource('css/datepicker.css'); ?>" rel="stylesheet" />
    <link href="<?php resource('style/default.css')?>" rel="stylesheet"/>

    <script src="<?php resource('js/jquery-2.1.1.js'); ?>"></script>
    <!--<script src="<?php resource('js/jquery-ui-1.10.4.custom.js'); ?>"></script>-->
    <script src="<?=url('baseurljs' , 'spider')?>" type="text/javascript"></script>
    <script src="<?php resource('js/bootstrap-datepicker.js'); ?>"></script>
</head>
<body>
<?php partialView('header'); ?>
<div class="container-fluid">
    <div class="row main">
        <div class="col-md-2 sidebar">
            <?php partialView('sidebar' , $data); ?>
        </div>
        <div class="col-md-10 col-md-offset-2 main">
            <h1 class="page-header">新增任務</h1>
            <?php
            if($data['message']!=""){
            ?>
            <div class="alert alert-info"><?=$data['message']?></div>
            <?php
            }
            ?>
            <form id="addtaskform" class="form-horizontal" method="post" role="form" action="<?=url('doaddtask','spider')?>">
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <p class="text-danger">複選多個法院時，將會以一個法院一個任務之方式產生任務。</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">選擇法院</label>
                    <div class="col-md-10">
                        <select multiple name="court[]" id="addTaskCourt" class="form-control">
                            <?php
                            foreach($data['court'] as $key => $value){
                            ?>
                            <option value="<?=$value['id']?>"><?=$value['name']?></option>
                            <?php
                            }
                            ?>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">選擇類別</label>
                    <div class="col-md-10">
                        <select name="type" id="addTaskType" class="form-control">
                            <option value="-1">選選擇</option>
                            <?php
                            foreach($data['type'] as $key => $value){
                            ?>
                            <option value="<?=$value['id']?>"><?=$value['name']?></option>
                            <?php
                            }
                            ?>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">開始日期</label>
                    <div class="col-md-10">
                        <input name="startdate" id="startDate" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">結束日期</label>
                    <div class="col-md-10">
                        <input name="enddate" id="endDate" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                    <button id="addTaskSubmit" class="btn btn-default btn-primary">
                        新增
                    </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<?php partialView('footer'); ?>
</body>
<script src="<?php resource('js/bootstrap.js'); ?>"></script>
<script>
    $(function(){
        $("#startDate").datepicker({
            format: "yyyy-mm-dd"
        });
        $("#endDate").datepicker({
            format: "yyyy-mm-dd"
        });

        $("#addTaskSubmit").on("click" , function(event){
            event.preventDefault();
            $error = "";
            if($("#addTaskCourt option:selected").val() == -1){
                $error += "請選擇法院\r\n";
            }
            if($("#addTaskType option:selected").val() == -1){
                $error += "請選擇類別\r\n";
            }
            if($("#startDate").val() == ""){
                $error += "請選擇起始日期\r\n";
            }
            if($("#endDate").val() == ""){
                $error += "請選擇結束日期\r\n";
            }
            $sd = new Date($("#startDate").val());
            $ed = new Date($("#endDate").val());
            if($ed < $sd){
                $error += "結束日期要在開始日期之後"
            }
            if($error == ""){
                $("#addtaskform").submit();
                return true;
            }else{
                alert($error);
                return false;
            }
        });
    });
</script>

</html>