<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8"/>
    <title>任務管理</title>

    <link href="<?php resource('css/bootstrap.css'); ?>" rel="stylesheet">
    <link href="<?php resource('css/bootstrap-theme.css'); ?>" rel="stylesheet"/>
    <link href="<?php resource('style/default.css')?>" rel="stylesheet"/>

    <script src="<?php resource('js/jquery-2.1.1.js'); ?>"></script>
    <script src="<?php resource('js/countUp.js'); ?>"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="<?=url('baseurljs' , 'spider')?>" type="text/javascript"></script>
</head>
<body>
<?php partialView('header'); ?>
<div class="container-fluid">
    <div class="row main">
        <div class="col-md-2 sidebar">
            <?php partialView('sidebar' , $data); ?>
        </div>
        <div class="col-md-10 col-md-offset-2">
            <h1>任務稽核</h1>
            <hr />
            <?php if($data['isaudit'] == 0){ ?>
            <form action="" method="post">
                <button class="btn btn-primary">
                    開始稽核
                </button>
            </form>
            <?php }else{ ?>
                稽核中......
            <?php } ?>
        </div>
    </div>
</div>
<?php partialView('footer'); ?>
</body>
<script src="<?php resource('js/bootstrap.js'); ?>"></script>
</html>