/* Sticky footer styles */
html {
	position: relative;
	min-height: 80%;
	overflow-x: auto;
	overflow-y: auto;
}

body, select, span, text, a {
	font-family: Microsoft JhengHei, Verdana;
}

body {
  /* Margin bottom by header height */
  margin-top: 100px;
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  -webkit-font-smoothing: antialiased;
}

.jumbotron {
  padding: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 3;
}

.affix {
	position: relative;
}

@media screen and (min-width: 992px) {
	.affix, .affix-bottom {
		/*width:300px*/
	}
	.affix {
		position: fixed;
		top: 100px;
		transform: translate3d(0px, 0px, 0px);
	}
	.affix-bottom {
		position: absolute;
	}
}

#sidebar {
	z-index: 5;
}

#toolbar {
	position: relative;
	text-align: left;
	float: left;
}

@media screen and (min-width: 426px) {
	#toolbar {
		min-width: 350px;
	}
}

@media screen and (max-width: 992px) {
	#toolbar {
		position: fixed;
		text-align: right;
		float: right;
		top: 100px;
		right: 50px;
		transform: translate3d(0px, 0px, 0px);
		opacity: 0.5;
	}
	#toolbar:hover {
		opacity: 1;
	}
}

table,
thead,
tr,
tbody,
th,
td {
	text-align: center;
}

.footable-row-detail-inner {
	margin-left: 16px;
    margin-right: 16px;
	text-align: left;
}

.footable-row-detail-name {
    min-width: 100px;
}

.footable-row-detail-value {
	max-width: 992px;
}

.col-centered  {
	float: none;
    margin: 0 auto;
}

input,
span {
	text-align: left;
}

.carousel-control-left,
.carousel-control-right {
	background-image: none;
	background-repeat: none;
	position: absolute;
	top: 50%;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 0.5;
	vertical-align: center;
	text-align: center;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
	z-index: 4;
}

.carousel-control-left {
	left: 0px;
	right: auto;
}

.carousel-control-right {
	left: auto;
	right: 0px;
}

.tab-content {
	min-width:200px;
	height: 400px;
	max-width: 1000px;
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 40px;
}

@media (max-width: 767px) {
    body {
	  font-family: Microsoft JhengHei, Verdana;
	  padding-top: 10px;
	}
}

@media screen and (max-width: 768px) {
    .lead {
        font-size:20px;
    }
}
 
@media screen and (max-width: 568px) {
    .lead {
        font-size:0.8em;
    }
}

.navbar-input-group {
  font-size: 0px; /*removes whitespace between button and input*/
}

.navbar-input-group input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbar-input-group .btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}

pre, .casecontext {
  font-family: MingLiU, 細明體, Lucida !important;
  text-align: left;
  border: none; !important
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.p {
  height: auto;
  max-height: 500px;
  overflow: auto;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

.btn-circle {
  width: 80px;
  height: 80px;
  text-align: middle;
  vertical-align: middle;
  padding: 18px;
  border-radius: 100px;
}

div > li {
    margin-left: 20px;
}

iframe[seamless]{
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
	cursor:default;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}